tautulli:
  env:
    DOCKER_MODS: 'ghcr.io/themepark-dev/theme.park:tautulli'
    TP_HOTIO: false
    TP_SCHEME: HTTPS
    TP_THEME: aquamarine
    TZ: US/Pacific
    UMASK: 2
  image:
    pullPolicy: Always
    repository: linuxserver/tautulli
    tag: latest
  ingress:
    main:
      annotations:
        external-dns.alpha.kubernetes.io/target: expectedbehaviors.com
        nginx.ingress.kubernetes.io/enable-global-auth: "false"
      enabled: true
      hosts:
        - {host: plexstatistics.expectedbehaviors.com, paths: [path: /]}
        - {host: plexstats.expectedbehaviors.com, paths: [path: /]}
        - {host: statistics.expectedbehaviors.com, paths: [path: /]}
        - {host: stats.expectedbehaviors.com, paths: [path: /]}
        - {host: tautulli.expectedbehaviors.com, paths: [path: /]}
  persistence:
    config:
      accessMode: ReadWriteOnce
      enabled: true
      size: 1Gi
      storageClass: ssd
  resources:
    requests:
      cpu: 5m
      memory: 200Mi
  # podDnsConfig:
  #   nameservers:
  #     - 172.16.11.200
  #     - 172.16.11.201
  #   searches: [expectedbehaviors.com]
