{{- if .Values.ratioManager.enable }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "qbittorrent-jobs.fullname" . }}-ratio-manager
  labels:
    app.kubernetes.io/name: qbittorrent-jobs
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  schedule: {{ .Values.ratioManager.schedule | quote }}
  timeZone: {{ .Values.ratioManager.timeZone | default "US/Pacific" }}
  concurrencyPolicy: {{ .Values.ratioManager.concurrencyPolicy | default "Replace" }}
  successfulJobsHistoryLimit: {{ .Values.ratioManager.successfulJobsHistoryLimit | default 10 }}
  failedJobsHistoryLimit: {{ .Values.ratioManager.failedJobsHistoryLimit | default 5 }}
  startingDeadlineSeconds: {{ .Values.ratioManager.startingDeadlineSeconds | default 10 }}
  suspend: {{ .Values.ratioManager.suspend | default false }}
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: {{ .Values.ratioManager.ttlSecondsAfterFinished | default 10 }}
      backoffLimit: {{ .Values.ratioManager.backoffLimit | default 2 }}
      template:
        spec:
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          restartPolicy: OnFailure
          containers:
            - name: ratio-manager
              image: {{ .Values.image.repository }}:{{ .Values.image.tag | default "latest" }}
              imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent" }}
              command:
                - /bin/sh
                - -ec
                - |
                  git clone https://github.com/Hundter/qBittorrent-Ratio-Manager.git
                  cd qBittorrent-Ratio-Manager
                  pip install jsonschema requests > /dev/null 2>&1
                  chmod +x qBittorrent-Ratio-Manager/qbit_ratio_manager.py
                  python qBittorrent-Ratio-Manager/qbit_ratio_manager.py --url=$QBITTORRENT_HOST --config_folder=$RATIO_MANAGER
              env:
                - name: QBITTORRENT_HOST
                  value: {{ (.Values.qbittorrentApiUrl | default (printf "http://%s.%s:8080/api/v2/" .Release.Name .Release.Namespace)) | quote }}
                - name: RATIO_MANAGER
                  value: /configMaps/ratio-manager
              volumeMounts:
                - name: ratio-manager
                  mountPath: /configMaps/ratio-manager
                  readOnly: true
          volumes:
            - name: ratio-manager
              configMap:
                name: {{ include "qbittorrent-jobs.fullname" . }}-ratio-manager
{{- end }}
